:root {
  --bg: #0e0e0e;
  --text: #f5f5f5;
  --accent: #aaa;
  --border: rgba(255, 255, 255, 0.08);
  --highlight: #fff;
  --fade: rgba(255, 255, 255, 0.04);
  --shadow: rgba(0, 0, 0, 0.4);
  --sub-judul:#d4af37;
  --transparant:rgba(20, 20, 20, 0.55);
}

body.light {
  --bg: #fefefe;
  --text: #111;
  --accent: #666;
  --border: rgba(0, 0, 0, 0.1);
  --highlight: #000;
  --fade: rgba(0, 0, 0, 0.04);
  --shadow: rgba(0, 0, 0, 0.1);
    --sub-judul:#302f2a;
      --transparant:rgba(215,215,215,0.665);
}
